{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- INCLUDE CUSTOM CSS FOR THE REVIEWS PAGE -->
<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block page_header %}
<!-- BLOCK PAGE HEADER -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- CONTENT BLOCK FOR DISPLAYING CUSTOMER REVIEWS -->
<section id="reviews" class="container mt-5">
    <div class="col-md-8">
        <h2 class="subtitle text-black">Customer Reviews</h2>
        <hr>
        {% for review in reviews_list %}
        <!-- REVIEW BOX FOR EACH REVIEW -->
        <div class="review-box mt-5">
            <p><i class="fa-solid fa-user"> </i> {{ review.name | slice:":10" }}</p>
            <p class="review-title"><strong> "{{ review.review_title }}"</strong></p>
            <!-- DISPLAY SERVICE REATING BASED ON THE PROVIDE RATING -->
            <span>
                {% if review.service_rating >= 5 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                {% elif review.service_rating == 4 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
                {% elif review.service_rating == 3 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                {% elif review.service_rating == 2 %}
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                {% elif review.service_rating == 1 %}
                <i class="fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                {% else %}
                <!-- SHOW 5 STARTS BY DEFAULT, IF NOT VALIDA RATING -->
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                {% endif %}
            </span>
            <div class="review-text">
                <p class="mt-3">{{ review.service_review }}</p>
            </div>
            <div class="review-img">
                {% if review.featured_image %}
                <!-- DISPLAY THE REVIEW IMAGE -->
                <img class="review-image card-img-top img-fluid mt-3" src="{{review.featured_image.url }}"
                    alt="{{ review.name }} Review Image">
                {% else %}
                <!-- SHOW A PLACEHOLDER IMAGE IF NO FEATURED IMAGE IS AVAILABLE -->
                <img class="review-image card-img-top img-fluid mt-3" src="{{ MEDIA_URL }}noimage.png"
                    alt="{{ review.name }} Review Image">
                {% endif %}
            </div>
            <p class="mt-2"><i class="fa fa-clock"></i> Reviewed on: {{ review.created_on | date:"D d M Y" }}</p>
            <!-- DISPLAY EDIT AND DELETE BTN FOR THE REVIEW IF IT IS THE REVIEW AUTHOR OR SUPERUSER -->
            {% if user.is_authenticated and user.username == review.name or user.is_superuser %}
            <div class="mt-3">
                <a href="{% url 'reviews:edit_review' review.id %}" aria-label="Go to edit review {{ review.id }} page"
                    class="btn btn-outline-black rounded-0 mb-3">Edit</a>
                <button type="button" class="btn btn-danger rounded-0 mb-3" data-toggle="modal"
                    data-target="#deleteModal-{{review.id}}" aria-label="Delete Review">Delete</button>
            </div>
            <!-- MODAL FOR CONFIRMING REVIEW DELETION -->
            <div class="modal fade" id="deleteModal-{{review.id}}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{review.name}}'s review?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-black rounded-0" data-dismiss="modal">Close</button>
                            <a href="{% url 'reviews:delete_review' review.id %}"
                                aria-label="Delete Review {{review.id}}" class="btn btn-danger rounded-0">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
    </div>
</section>
<!-- BACK-TO-TOP BUTTON -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    <!-- CUSTOM JS FOR BACK-TO-TOP BUTTON -->
    {{ block.super }}
    <script>
        $('.btt-link').click(function(e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: 0
            }, 1000);
        });
    </script>
{% endblock%}