body {
    background: none;
    background-color: white;
}

.review-img {
    width: 35%;
}



/* -------------------------------- Media Queries */

@media only screen and (max-width: 991px) { 
    .review-img  {
        width: 50%;
    } 
}

