body {
    background: none;
    background-color: white;
}

.review-img {
    width: 35%;
}

.col-12.text-center h1 {
    font-size: 37px;
}

.review-title {
    font-family: "Gotham-Book",Helvetica,sans-serif;
}

/* -------------------------------- Media Queries */

@media only screen and (max-width: 991px) { 
    .review-img  {
        width: 50%;
    } 
}


@media (max-width:352px) {
    .col-12.text-center h1 {
        font-size: 30px;
    }
}

@media (max-width:345px) {
    .col-md-8 h2 {
        font-size: 28px;
    }
}