{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'expert_advice/css/expert_advice.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row mt-4">
        <div class="col text-center">
            <h2 class="text-black-expert"><strong>PowerProtein</strong> Expert Advice</h2>
            <p class="lead-exp mt-4">
            If you are interesting to make an appointment with our certified nutritionist, we higly recommend checking
            out our partiner website, <strong><a class="text-black" href="https://ihealthy.herokuapp.com/" target="_blank">iHealthy</a></strong>, to book 
            a convenient time. Whether you're looking to lose weight, weight gain, manage a chronic condition or optimize your health and wellness,
            they are there to support you every step of the way. With just a few simple steps, you can book your appointment today and start your 
            journey towards a happier and healthier you!
            <p>
            <img class="gif-exp mt-3" src="{% static 'media/ihealthygif.gif' %}" alt="iHealthy GIF">
            <div>
                <a class="btn btn-outline-black rounded-0 mt-3 mb-3" href="https://ihealthy.herokuapp.com/accounts/signup/" target="_blank">Book Now</a>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4 allauth-form-inner-content" id="form-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="text-black-expert">Request Advice</h2>
            <p>
                If you have any question or need expert advice on nutrition, health or wellness, feel free to fill out the form below:
            </p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button class="btn btn-outline-black rounded-0 mb-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}