{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'expert_advice/css/expert_advice.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font text-black mb-4">Form Submitted Successfully!</h2>
            <hr>
            <p class="text-black">
                Thank you for taking time to submit the form.
            </p>
            <p class="text-black">
                One of <a class="text-black" href="https://ihealthy.herokuapp.com/">iHealthy</a> nutritionist Team will review it carefully.
                We will get back to you soon with any necessary follow-up updates.
            </p>
            <p>
                <strong class="text-black">PowerProtein</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
            <a href="{% url 'products' %}?category=new_arrivals" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-gifts"></i>
                </span>
                <span class="text-uppercase">Now check out the latest deals!</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}