<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="protein-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Protein
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="protein-link">
                <a href="{% url 'products' %}?category=whey_protein" class="dropdown-item">Whey Protein</a>
                <a href="{% url 'products' %}?category=protein_isolate" class="dropdown-item">Protein Isolate</a>
                <a href="{% url 'products' %}?category=vegan_protein" class="dropdown-item">Vegan Protein</a>
                <a href="{% url 'products' %}?category=collagen_protein" class="dropdown-item">Collagen Protein</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="{% url 'products' %}?category=creatine" class="dropdown-item">Creatine</a>
                <a href="{% url 'products' %}?category=pre_workout" class="dropdown-item">Pre Workout</a>
                <a href="{% url 'products' %}?category=weight_gainers" class="dropdown-item">Weight Gainers</a>
                <a href="{% url 'products' %}?category=weight_loss_supplements" class="dropdown-item">Weight Loss Supplements</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Expert Advice
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>
                <a href="{% url 'expert_advice:expert_advice' %}" class="dropdown-item">Contact Nutritionist</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'reviews:reviews' %}" class="dropdown-item">Reviews</a>
                {% if user.is_authenticated or user.is_superuser %}
                <a href="{% url 'reviews:add_review' %}" class="dropdown-item">Add Review</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>