body {
    background: none;
    background-color: white;
}

.text-black-expert {
    color: #000 !important;
    font-size: 2rem;
   font-weight: 400;
}

.lead-exp {
    font-size: 1.15rem;
    font-weight: 300;
}

.gif-exp {
    width: 80%;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-container .btn {
    color: #fff !important;
    background-color: #000;;
}

.header-container .btn:hover {
    background-color: #222 !important;
    border-color: #222 !important;
}

/* -------------------------------- Form Style */

.container#form-container {
    height: auto;
}

#form-container .btn {
    color: #fff !important;
    background-color: #000;;
}

#form-container .btn:hover {
    background-color: #222 !important;
    border-color: #222 !important;
}

.message-field.textarea.form-control  {
    color: #495057;
    border: 1px solid #000;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0;
}

